.ss-time-left-counter {
  display: flex;
  gap: 2rem;
}

.ss-time-left-counter__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ss-time-left-counter__divider {
  font-size: 20px;
  font-weight: 1000;
  margin-top: 0.5rem;
}

.ss-time-left-counter__item__number {
  font-size: 2.5rem;
  font-weight: 700;
}

.ss-time-left-counter__item__label {
  font-size: 14px;
  font-weight: 500;
}

.ss-left-time-error-message {
  color: var(--error-text);
  font-size: 13px;
  margin-top: 0.5rem;
}

.ss-left-time-text {
  margin-top: 1rem;
  color: rgba(var(--center-channel-color-rgb), 0.72);
}