.ss-error-container {
    color: var(--center-channel-color);
    background-color: rgba(var(--center-channel-color-rgb), 0.08);
    width: 95%;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 8px;
    padding: 2rem 2rem;
    margin-block: 1.5rem;
}

.ss-error-container p {
    color: var(--error-text);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}