/* *{
    border:1px solid red;
} */
.ss-search-con{
    display:flex;
}
.ss-search-input {
    width:calc(100% - 7rem);
    padding: 1rem 1rem;
    font-size: 1.7rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:1px solid rgba(0,0,0,0.5);
    font-weight: 700;
}
.ss-search-input:focus {
    border:1px solid rgb(0, 166, 255);

}
.ss-search-button {
    padding:0rem 1.5rem;
    background: var(--button-bg);
    color: var(--button-color);
    border:1px solid var(--button-bg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ss-content-con{
    margin-top:5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ss-undraw1{
    width:20rem;
    align-self: center;
}
.ss-undraw1-des{
    align-self: center;
    text-align: center;
}
.ss-hidden {
    display: none;
}