.ss-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.ss-container .ss-container-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.ss-container .ss-container-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: max-content;
  max-height: 90%;
  border-radius: 15px;
  background: white;
  padding: 2rem;
  background-color: var(--center-channel-bg);
  color: var(--center-channel-color);
}
.ss-hidden {
  display: none;
}
