.ss-root {
    background-color: var(--center-channel-bg);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search-input-wrapper {
    width: 100%;
    height : 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}



