.bot-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.bot-title {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--center-channel-color);
    margin-bottom: -1.5rem;
}

.bot-text{
    --message-bubble-color: rgba(0,0,0,0.1);
    --message-border-radius: 8px;
    position: relative;
    padding: 1.5rem 2.3rem;
    background: var(--message-bubble-color);
    border-radius: var(--message-border-radius);
    border-bottom-left-radius: 0;
    font-size: 1.8rem;
    line-height: 1.5;
    color:var(--center-channel-color);
    width: 80%;
}

.bot-text::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: var(--message-border-radius) solid transparent;
    border-right: var(--message-border-radius) solid var(--message-bubble-color);
    border-top: var(--message-border-radius) solid transparent;
    border-bottom: var(--message-border-radius) solid var(--message-bubble-color);
    bottom: 0;
    left: calc(var(--message-border-radius) * -2);
  }

.bot-context-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.bot-context-con{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:100%;
    background:rgba(0,0,0,0.02);
    padding: 1.5rem 2rem 1.5rem 0;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.1);
}

.bot-context-top{
    display:flex;
    justify-content: space-between;
    height:6rem;
    padding-inline: 1rem;
}

.bot-context-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bot-context-user-avatar {
    background:rgb(219, 218, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
}

.bot-context-user-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bot-context-user-name {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
}

.bot-external-link{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    stroke: var(--link-color);
    cursor: pointer;
}

.bot-context-middle{
    padding-left:6rem;
    font-size:1.6rem;
}

.bot-context-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:6rem;
    color:#686868;
    font-size: 1.3rem;
}

.bot-context-relevance {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    background-color: teal;
    fill: white;
    stroke: white;
    color: white;
}
.bot-text-error{
    color:red;
}