.ss-response-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    overflow-y: scroll;
    padding-bottom: 1rem;
}

.ss-response-container {
    color: var(--center-channel-color);
    background-color: rgba(var(--center-channel-color-rgb), 0.08);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    padding: 2rem 2rem;
    margin-block: 1rem;
    line-height: 1.5;
}

.ss-response-container .icon {
    font-size: 22px;
    margin-top: 3px;
}

.ss-response-container_text {
    width: inherit;
    overflow-wrap: break-word;
    text-align: justify;
}

.ss-response-context-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    margin: 0;
    padding: 0 1rem;
}

.ss-response-context-subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--center-channel-color);
    margin: 0.5rem 0;
}

.ss-response-context-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.ss-response-context {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:100%;
    background: rgba(var(--center-channel-color-rgb), 0.04);
    padding: 0.8rem 1.5rem 1rem 0.4rem;
    border-radius: 8px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
}

.ss-rc-top {
    display:flex;
    justify-content: space-between;
    height:6rem;
    padding-inline: 1rem;
}

.ss-rc-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ss-rc-user-avatar {
    background: var(--mention-highlight-bg);
    color: var(--mention-highlight-link);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
}

.ss-rc-user-avatar_img {
    border-radius: inherit;
    object-fit: cover;
}

.ss-rc-user-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ss-rc-user-text a, .ss-rc-user-text a:hover {
    text-decoration: none;
    color: var(--center-channel-color);
}

.ss-rc-user-name {
    font-size: 1.6rem;
    font-weight: bold;
}

.ss-rc-external-link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--link-color);
}

.ss-rc-external-link a{
    cursor: pointer;
}

.ss-rc-external-link__sl {
    background-color: #4A154Bdd;
    color: white;
    padding: 0.3rem 1.3rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.ss-rc-middle {
    padding-left:6rem;
    overflow-wrap: break-word;
}

.ss-rc-middle p {
    font-size: 13.5px;
}

.ss-rc-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:6rem;
    color:rgba(var(--center-channel-color-rgb), 0.16);
    font-size: 1.2rem;
}

.ss-rc-relevance {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 11px;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    padding-right: 0.8rem;
    border-radius: 2rem;
    background-color: teal;
    color: white;
    fill: white;
}

.ss-rc-date {
    color:rgba(var(--center-channel-color-rgb), 0.72);
}

.ss-response-back-to-top {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    z-index: 100;
    background-color: var(--button-bg);
    color: var(--button-color);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 100%;
    padding: 2rem;
    transition: display 1s ease-in-out;
}

.ss-response-back-to-top .icon {
    font-size: 3rem;
    width: 1rem;
    height: 1rem;
    padding-bottom: 5px;
}