.ss-reset-container {
    display: flex;
    align-items: center;
}

.ss-reset-container input[type="checkbox"] {
    margin-right: 1rem;
    text-align: center;
    width: 1.8rem;
    height: 1.8rem;
}

.ss-reset-container label {
    margin-right: 2rem;
    margin-bottom: 0;
    font-weight: 500;
}

.ss-reset-container button {
    margin-left: 1rem;
}

.ss-reset-help-text {
    margin-top: 1rem;
    color: rgba(var(--center-channel-color-rgb), 0.72);
}